<!--Total products -->
<div class="container-fluid">
    <div class="total-results clearfix {{#if showHero}}showHero{{/if}}">
        {{#if showHero}}
            <div class="total-results__hero hidden-xs">
                <img width="98" height="68" src="{{heroUrl}}" alt="{{lang "websiteName"}}" />
            </div>
        {{/if}}
        <div class="total-results__found-deals">
            <label class="total-results__found-text" id="results-found">
                {{#if resultsLength}}
                    {{{lang "tabs_first"}}} <strong class="resultsCount">{{resultsLength}}</strong> {{{lang "tabs_last"}}}
                {{/if}}
            </label>
        </div>
    </div>
</div>
<!--Tabs -->
<div class="container-fluid">
    <button class="tab-menu__toggle btn" data-toggle="collapse" href="#cgg-comparison-widget-tab-menu-dropdown" data-target="#cgg-comparison-widget-tab-menu-dropdown" aria-expanded="false">
            <span id="tab-menu-mobile-label" class="tab-menu-mobile-label">{{lang "change_product"}}</span>
            <span class="tab-menu__toggle-text tab-mobile-text">
                <span class="tab__icon">
                    <i class="m-icon m-icon--bar-{{selectedTab}}"></i>
                </span>
                {{selectedTabVal}}
            </span>
        <i class="m-icon arrow-icon m-icon--arrow-down"></i>
    </button>

    <ul id="cgg-comparison-widget-tab-menu-dropdown" class="tab-menu__list tab_v3 clearfix navbar-collapse cgg-comparison-widget-tab-menu-dropdown collapse {{languageCode}}" role="menu" aria-expanded="false">
        
    </ul>
</div>

<div class="master-head">
    <div class="container-fluid">
        <div class="no-gutter-left">
            <div class="">
                <h1 class="masterhead-heading">{{heading}}</h1>
                <p class="masterhead-subheading hidden-xs">{{subheading}}</p>
            </div>
        </div>
    </div>
</div>
