<div class="clearfix">
    {{#if promoTab.title}}
        <label class="more-result__info js-row__clickable {{#if promoTab.condition}} tooltip-this {{/if}} {{checkApply}} {{checkHasApplyBtn}}" data-toggle="tooltip" data-placement="bottom" data-title="{{promoTab.condition}}" rel="nofollow" data-company="{{company.name}}"
               data-id="{{id}}" data-name="{{name}}" data-link="{{applyLink}}">
            <span class="more-result__info__tag-star"><i class="m-icon m-icon--star"></i>
            </span>
            <div class="more-result__info--table">
                {{#if promoTab.title}}
                    <p class="promo3">{{promoTab.title}}</p>
                {{/if}}
                {{#if promoTab.description}}
                    <p>
                        <strong>{{promoTab.description}}</strong>
                    </p>
                {{/if}}
            </div>
        </label>
    {{else}}
        <div class="promo-spacer"></div>
    {{/if}}
</div>

<div class="result-item__cta">
    {{#if applyLink}}
        <a rel="nofollow" class="btn-compare-now goto_site apply-now btn btn-lg btn--cag-apply" data-company="{{company.name}}" data-id="{{id}}" data-name="{{name}}" data-productmobilelink="{{product_mobile_link}}" data-link="{{applyLink}}">
            {{lang "Apply"}}
        </a>
        <p>{{lang "or"}}</p>
        <a type="button" class="goto_site more-result__cta hidden-sm hidden-xs result-cta__visit {{#if applyLink}}show-this{{else}}hide-this{{/if}}" data-company="{{company.name}}" data-id="{{id}}" data-name="{{name}}" data-productmobilelink="{{product_mobile_link}}" data-link="{{applyLink}}">
            {{lang "visit"}} {{company.name}}
        </a>
    {{/if}}
</div>