<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="sc-block__info">
                <h5 class="sc-block__header">
                    {{count}} 
                    {{lang "cart_count_header"}}
                </h5>
                <p class="sc-block__sub">
                    {{lang "cart_select_up_to_3_cards_for_comparison"}}
                </p>
                <a href="javascript:void(0);" class="sc-block__href">
                    <i class="icon-mix icon-mix--close"></i>
                    {{lang "cart_clear_shortlist"}}
                </a>
            </div>

            <div class="sc-block__cards">
                <ul></ul>
            </div>
            <div class="sc-block__cta">
                <a href="#" class="btn btn-large btn-success pull-right btn-compare-cards"
                     {{#if compareDisabled}}disabled="disabled"{{/if}}>
                   {{lang "cart_compare_cards"}}
               </a>
            </div>
        </div>
    </div>
</div>